<!doctype html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <title>{{firstName}} {{lastName}}</title>
</head>
<body>
    <h1>{{firstName}} {{lastName}}</h1>
    Role: {{role}}
</body>
</html>
