<!doctype html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <article>
        <h1>{{title}}</h1>
        <p>{{body}}</p>
    </article>
</body>
</html>