<!doctype html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <ul>
        <li><a href="posts/first-post.html">Esimene</a></li>
        <li><a href="posts/second-post.html">Teine</a></li>
    </ul>
</body>
</html>